/*
*
* IMPORTANTE: Este no es un buen patron de diseño, se realiza porque el componente de fechas 
* no ofrece opciones flexibles para modificar los estilos.
*
*/
.generic-date-picker > .MuiFormControl-root {
    margin-top: 8px;
    margin-bottom: 4px;
}

.generic-date-picker.full-width {
    width: 100%;
}

.generic-date-picker.full-width > .MuiFormControl-root {
    width: 100%;
}

.generic-date-picker .MuiOutlinedInput-inputAdornedEnd {
    padding-top: 12px;
    padding-bottom: 12px;
}
