#dvFeeder
{
  position:absolute;
  left:0px;
  bottom:20px;

  height: 350px;
  width: 420px;
  background-color:#e6eddd;
}

#dvFeederScroll
{
  position:absolute;
  left:-210px;
  top:20px;

  height: 320px;
  width: 420px;
  
  overflow:auto;
}

#dvFeederHead,.dvFeederEvent
{
  height: 50px;
  
  position:absolute;
  left:-200px;
  top:0px;
  width: 420px;
}


#dvFeederHead
{
  height: 20px;
  
  left:-210px;
  
  color:#e6eddd;
  background-color:#5A694A;
  
  font-weight:bold;
  font-size:16px;
}

.dvFeederEvent,.dvFeederEventTable
{
  color:#5A694A;
  width: 400px;
  
  font-size:14px;
}


.dvFeederFecha
{
  color:#5A694A;
  width:100px;
  font-size:16px;
  font-weight:bold;
}

.dvFeederFechaRed
{
  color:#A06360;
  width:100px;
  font-size:16px;
  font-weight:bold;
}

.rel
{
  position:relative;
}


