<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

        <bean class="mx.com.inscitech.fiduciaweb.SpringContext" />

        <!--bean id="jndiDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
            <property name="jndiName" value="jdbc/fiduciaDS" />
            <property name="lookupOnStartup" value="true"/>
            <property name="cache" value="false"/>            
        </bean>        
        
        <bean id="JdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
            <property name="dataSource" ref="jndiDataSource"/>
        </bean>
        
        <bean id="DataConnection" class="com.payhuman.portal.data.DataConnectionHandler">
            <property name="jdbc" ref="JdbcTemplate"/>
        </bean-->
                
</beans>