/*button text - all levels*/
.menuButtonSecond td, .menuButton td, .menuButtondown td, .menuButtonover td {
	cursor:default;
}
/*menu text - all levels*/
.defaultMenuText{
	font:12px Arial,sans-serif;
	padding-left:10px;
	padding-right:5px;
}
/*disabled menu text - all levels*/
.buttonTextDisabled{
	font: 10px "Microsoft Sans Serif",Arial;
	padding-left:10px;
	padding-right:5px;
    color:gray;
}

/*menu caption if any*/
.menuName{
	color : gray;
	letter-spacing : 7px;
	font : 10px Arial,sans-serif;
	padding-left : 10px;
	padding-right : 10px;
}
/*========= BUTTONS ======================*/

/*plain button state - top level
.menuButton {
	border : solid 0px #D4D0C8;
}*/
/*down button state - top level*/
.menuButtondown {
	border-bottom : solid 0px #FFFFFF;
	border-left : solid 0px #808080;
	border-right : solid 0px #FFFFFF;
	border-top : solid 0px #808080;
	cursor : default;
}
/*mouse over button state - top level*/
.menuButtonover {
	border-bottom : solid 0px #808080;
	border-left : solid 0px #FFFFFF;
	border-right : solid 0px #808080;
	border-top : solid 0px #FFFFFF;
	cursor : default;
}
/*plain button state - other levels
.menuButtonSecond {
	border:0px solid #D4D0C8;
	font:12px Arial,sans-serif;
}*/
/*mouse over button and down button states - other levels*/
.menuButtonSecondover, .menuButtonSeconddown {
	color:navy;
	cursor : default;
	border:0px solid navy;
	font:12px Arial,sans-serif;
}
/*icon place style on button over/down - other levels
.menuButtonSeconddownimg {
	background-color : #C9D9F5;
}*/

/*text of mouse over button - other levels*/
.menuButtonSeconddown td {
	 color:navy;
	 cursor:default;
	 border:0px solid;
}


/*============ PANELS and DEVIDERS ===========================================*/

/*manu panel - top level*/
.menuTable{
	border-bottom : solid #808080 0px;
	border-left : solid #FFFFFF 0px;
	border-right : solid #808080 0px;
	border-top : solid #d4d0c8 0px;
	margin : 0px;
	-moz-user-select : none;
	padding : 0px;
	
}
/*menu panel - other levels*/
.secondMenuTable{
	border: 0px; 
	margin : 0px;
	-moz-user-select : none;
	padding : 0px 0px 0px 2px;
}

/*devider - horizontal*/
.menuDivider {
	border-left : solid #808080 0px;
	border-right : solid #FFFFFF 0px;
	height : 100%;
	margin-bottom : 2px;
	margin-top : 0px;
	overflow : hidden;
	vertical-align : middle;
	width : 2px;
}
/*devider - vertical*/
.menuDividerY {
	border-bottom : solid #FFFFFF 0px;
	border-top : solid #808080 0px;
	height : 2px;
	overflow : hidden;
	width : 100%;
}

/*================== DRAG HANDLERS ==================*/

/*drag handler for menu - horizontal*/
.menuHandle {
	border-bottom : solid #808080 0px;
	border-left : solid #FFFFFF 0px;
	border-right : solid #808080 0px;
	border-top : solid #FFFFFF 0px;
	cursor : move;
	height : 100%;
	overflow : hidden;
	width : 3px;
}
/*drag handler for menu - vertical*/
.vmenuHandle {
	border-bottom : solid #808080 0px;
	border-left : solid #FFFFFF 0px;
	border-right : solid #808080 0px;
	border-top : solid #FFFFFF 0px;
	cursor : move;
	height : 3px;
}


/*============ ICONS and SCROLLERS ====================*/

/*disabled icon - all levels*/
.iconGray {
	filter : BlendTrans(Percent=50) gray();
	cursor: default;
	border:solid 0px #D4D0C8;
}

/*enabled scroller*/
.menuScrollerEnabled{
	 cursor: pointer;
	 text-align:center;
}
/*disabled scroller*/
.menuScrollerDisabled{
	cursor: default;
	visibility:hidden;
	text-align:center;
}
