<?xml version = '1.0' encoding = 'windows-1252'?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
    <display-name>FiduciaWeb</display-name>
    <distributable />
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/config/fiduciario-toplink.xml,
            /WEB-INF/config/fiduciario-services.xml,
            /WEB-INF/config/fiduciario-mappings.xml
        </param-value>
    </context-param>
    <filter>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>mx.com.inscitech.fiducia.web.filters.SecurityFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SignOffFilter</filter-name>
        <filter-class>mx.com.inscitech.fiducia.web.filters.SignOffFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>mx.com.inscitech.fiducia.listeners.ApplicationStartUp</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Fiduciario</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>
                /WEB-INF/config/fiduciario-toplink.xml,
                /WEB-INF/config/fiduciario-services.xml,
                /WEB-INF/config/fiduciario-mappings.xml
            </param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Fiduciario</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Fiduciario</servlet-name>
        <url-pattern>/DatosFiduciarios.xls</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuDispatcherServlet</servlet-name>
        <url-pattern>/xml/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>36</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>
    <mime-mapping>
        <extension>html</extension>
        <mime-type>text/html</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>txt</extension>
        <mime-type>text/plain</mime-type>
    </mime-mapping>
</web-app>
